*{
    padding: 0;
    margin: 0;
}

a {
    display: inline-block;
}
object {
    pointer-events: none;
}

.title {
    text-align: center;
    margin-top: 100px; 
}

/* ------------- */


body {
    padding: 40px 0;
    font-family: 'bebas', sans-serif;
  }
  body .textcontainer {
    padding: 50px 0;
    text-align: center;
    color: #ffffff
  }
  body .particletext {
    text-align: center;
    font-size: 48px;
    position: relative;
  }

/* ------------- */

body { background-color:#333; }
#snow{
    background: none;
    font-family: Androgyne;
    background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index:1;
    -webkit-animation: snow 10s linear infinite;
    -moz-animation: snow 10s linear infinite;
    -ms-animation: snow 10s linear infinite;
    animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}   

/* ------------- */
.icon {
    margin-top: center;
    width: 50px;
    height: 50px;
    fill: #eee
}

.SNSicon {
    transform: scale(0.8);

}

.col-1 {
    text-align: center;
    position: relative;
    display: block;
    overflow: hidden;
    text-align: center;
    
}

.mask {
    float: left;
    width: 10%;
    margin-top: 100px;
    text-align: center;
    width: 25%;
    
}

