*{
    padding: 0;
    margin: 0;
}



.SNS {
    text-align: center;
}

.manzi {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    font-family: 'Gaegu', cursive;
    font-size: 30px
    
}
.situmonbako {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gaegu', cursive;
    font-size: 30px;
    margin-top: 50px; 
}
.fa-twitter-square{
    color: #1DA1F2   
}
.fa-github-square{
    color: #000000
}
.fa-facebook-square{
    color: #4267B2
}
.fa-line {
    color: #54BD37
}


img {
    border-radius: 30px;
    height: 60px;
    width: 60px;
  }
.fa-instagram {
    color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
  }

/*  */

